@use "variables" as v;
@use "mixins" as m;



//Namnet på navugeringsmenyn
.burgerMenu{ 
    height: 75px;
    width: v.$primaryProcent;
    background: white;
    display: flex;
}
//Ul listan
.burgerList{ 
    position: fixed;
    width: v.$primaryProcent;
    height: 0vh; //Denna var 100vh
    top: 75px;
    float: right;
    text-align: center;
    transition: all .5s;

    //Stylning av li
    li { 
        opacity: 0;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;

        //Stylning av innehållet i listan
        a { 
            color: v.$primaryColour;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}


//Färgen på texten ändras när du är över den 
.burgerList li a.active,.burgerList li a:hover{ 
    color: red;
    transition: 0.5s;
}
//BurgerIconen stylning
.hamburger-btn{ 
    display: block; 
    font-size: 30px;
    color: v.$primaryColour;
    //align items fungerar ej just nu
    align-items: center; //aldrig använda float, flex istället!!!
    line-height: 75px;
    margin-right: 40px;
}
//När man ej tryckt på burger iconen alltså när den är stängd
#check{ 
    display: none;   
}
 //När man tryckt på burgericonen
 #check:checked + .burgerList{ 
    height: 100vh; 
    background-color: #2A3B51;
}
  //Innehållet i listan
  #check:checked + .burgerList li{ 
    opacity: 1;
}