@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "navigation";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

body { 
  min-height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
.shopping-cart {
  background-color: orange;
  position: absolute;
  width: 100%;
  height: 58vh;
  align-items: center;
  .product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    height: 15%;
    width: 70%;
    border-bottom: 2px solid #fdb6fd;
    @include m.sm {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    @include m.md {
      top: 5%;
    }
    .itemImg {
      position: absolute;
      display: flex;
      max-width: 80px;
      top: 9%;
      left: 2%;
    }
    .product-name {
      position: absolute;
      top: 45%;
      left: 20%;
      @include m.sm {
        font-size: 15px;
      }
    }
    .price {
      position: absolute;
      font-size: 20px;
      top: 45%;
      left: 88%;
    }
    .choice {
      position: absolute;
      top: 45%;
      left: 65%;
      @include m.sm {
        left: 65%;
        height: 23%;
        font-size: 50%;
      }
      @include m.md {
        left: 60%;
        height: 24%;
        font-size: 80%;
      }
    }
    .amount {
      position: absolute;
      top: 45%;
      left: 60%;
      @include m.sm {
        display: none;
        left: 54%;
        font-size: 12px;
      }
      @include m.md {
        display: inline;
        left: 52%;
      }
    }
    .remove {
      position: absolute;
      background-color: rgb(241, 241, 241);
      border-radius: 4px;
      border: 1px solid black;
      width: 8%;
      height: 24%;
      font-size: 15px;
      top: 45%;
      left: 70%;
      @include m.sm {
        font-size: 60%;
        width: 10%;
        left: 75%;
      }
      @include m.md {
        left: 67%;
        font-size: 80%;
        width: 7%;
        left: 70%;
      }
    }
  }
}
.sum {
  position: fixed;
  bottom: 200px;
  right: 15%;
}
}

footer {
  position: fixed;
  left: 0;
  bottom: 50;
  width: 100%;
  height: 80;
text-align: center;
#kassa {
color: #474747;
  border-radius: 10px;
  border: 2px solid rgb(71, 71, 71);
  background-color: rgb(243, 243, 243);
  width: 20%;
  height: 70%;
}
}