@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "navigation";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

body { 
  min-height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shopping-cart {
  position: absolute;
  width: 100%;
  height: 58vh;
  align-items: center;
}

.shopping-cart > div > h3 {
  font-size: 20px;
  text-align: center;
  }
  
.shopping-cart > div > h2 {
  font-size: 20px;
  text-align: center;
}

.item-card {
  height: 100%;
}



.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  height: 15%;
  width: 70%;
  border-bottom: 2px solid #fdb6fd;
  @include m.md {
    top: 5%;
  }
  .itemImg {
    position: absolute;
    display: flex;
    max-width: 80px;
    top: 9%;
    left: 2%;
}
.product-name {
  position: absolute;
  top: 45%;
  left: 20%;
  @include m.sm {
    font-size: 15px;
  }
}
h3 {
  position: absolute;
  top: 45%;
  left: 88%;

}
.choice {
  position: absolute;
  top: 45%;
  left: 65%;
  @include m.sm {
    left: 62%;
  }
  @include m.md {
    left: 60%;
  }
}
p {
  position: absolute;
  top: 45%;
  left: 60%;
  @include m.sm {
    left: 54%;
    font-size: 12px;
  }
  @include m.md {
    left: 52%;
  }
}
.remove {
  position: absolute;
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  border: 1px solid black;
  width: 8%;
  height: 24%;
  font-size: 15px;
  top: 45%;
  left: 70%;
  @include m.sm {
    width: 10%;
  }
  @include m.md {
    left: 67%;
  }
}
}

.sum {
  position: fixed;
  bottom: 200px;
  right: 15%;
}

.remove {
  font-size: 22px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  width: 100%;
  height: 15%;
  align-self: auto;
} 

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 26, 226);
  font-size: 20px;
  width: 80%;
  height: 2%;
  transform: translateY(-15%) translateX(2%);
/*   @include m.sm {
    font-size: 20px;
    width: 140%;
    height: 140%;
    transform: translateY(70%) translateX(25%);
  }
  @include m.md {
    font-size: 20px;
    width: 100%;
    height: 40%;
    transform: translateY(60%) translateX(105%);
  }
  @include m.lg {
    padding-top: 2%;
    font-size: 20px;
    width: 100%;
    max-height: 80%;
    transform: translateY(200%) translateX(180%);
  } */
}

footer {
  position: fixed;
  left: 0;
  bottom: 50;
  width: 100%;
  height: 80;
color: white;
text-align: center;
button {
  border-radius: 10%;
  border: 2px solid black;
  background-color: rgb(243, 243, 243);
  width: 20%;
  height: 70%;
}
}