@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "navigation";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

body {
  min-height: 100vh;
  width: 100%;
  background-image: url(/src/images/background-boomerang.png);
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  main {
    position: relative;
    max-width: 80%;
    height: 240vh;
    padding-left: 15%;
    transform: translate(12%);
    background-color: white;
    #checkout-container {
      overflow: auto;
      margin-bottom: 5%;
      width: 80%;
      height: 50vh;
      .product-card {
        position: relative;
        width: 100%;
        height: 90px;
        border-bottom: 2px solid #fdb6fd;
        .productImg {
          position: absolute;
          display: flex;
          width: 70px;
          top: 12%;
          left: 2%;
        }
        .productName {
          position: absolute;
          top: 45%;
          left: 20%;
          @include m.sm {
            font-size: 15px;
          }
        }
        .amount {
          position: absolute;
          top: 45%;
          left: 60%;
          @include m.sm {
            display: none;
            left: 54%;
            font-size: 12px;
          }
          @include m.md {
            display: inline;
            left: 52%;
          }
        }
        .productPrice {
          position: absolute;
          font-size: 20px;
          top: 45%;
          left: 88%;
        }
        .price {
          position: absolute;
          font-size: 20px;
          top: 45%;
          left: 88%;
        }
        .choice {
          position: absolute;
          top: 45%;
          left: 65%;
          @include m.sm {
            left: 65%;
            height: 23%;
            font-size: 50%;
          }
          @include m.md {
            left: 60%;
            height: 24%;
            font-size: 80%;
          }

        }
        .sum {
          position: absolute;
          bottom: 200px;
          right: 15%;
        }
        .remove {
          position: absolute;
          background-color: rgb(241, 241, 241);
          border-radius: 4px;
          border: 1px solid black;
          width: 8%;
          height: 24%;
          font-size: 15px;
          top: 45%;
          left: 70%;
          @include m.sm {
            font-size: 60%;
            width: 10%;
            left: 75%;
          }
          @include m.md {
            left: 67%;
            font-size: 80%;
            width: 7%;
            left: 70%;
          }
        }
      }
    }
    h1 {
      padding-top: 5%;
      padding-left: 2%;
    }
    legend {
      margin-left: 2%;
      margin-top: 5%;
    }
    .info-box {
      top: 38%;
      padding: 5%;
      background-color: rgb(226, 226, 226);
      margin-right: 20%;
      border-radius: 15px;
      #firstName {
        width: 95%;
      }
      #lastName {
        width: 95%;
      }
      #adress {
        width: 95%;
      }
      #postal {
        width: 95%;
      }
      #city {
        width: 95%;
      }
    }
    .select-payment {
      margin-top: 8%;
      bottom: 255;
    }
    .info-box2 {
      border-radius: 15px;
      margin-top: 2%;
      background-color: rgb(226, 226, 226);
      margin-right: 20%;
      bottom: 12%;
      min-height: 3%;
      .options {
        padding: 2%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        label {
          width: 15%;
        }
      }
      #payment {
        height: 20%;
      }
      img {
        width: 60%;
      }
    }
    .submit {
      background-color: rgb(245, 245, 245);
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px;
      margin-top: 15%;
      width: 50%;
      transform: translateX(25%);
    }
  }
  #hiddenMessage {
    width: 80%;
    text-align: center;
    height: 100vh;
    padding-top: 20%;
    h4 {
      padding-top: 1%;
      text-align: center;
    }
  }
}
