@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "hamburgermenu";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

.sale {
  color: rgb(253, 10, 10);
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.651);
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#star {
  filter: invert(100%) drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.685));
  width: 20px;
  transform: translateX(-10.6rem) translateY(0.2rem);
  @include m.md {

  }
}
#star2 {
  filter: invert(100%) drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.685));
  width: 20px;
  transform: translateX(-1.6rem) translateY(0.2rem) scaleX(-1);
}

.carousel-feature {
  position: absolute;
  height: 30%;
  transform: translateX(5%) translateY(-5%);
  width: 90%;
}

#mistletoe {
  position: relative;
  width: 9%;
  transform: translateX(1020%) translateY(-650%);
  @include m.md {
    
  }
}

#cane {
  position: relative;
  width: 10%;
  transform: translateX(-150%) translateY(-600%) scaleX(-1);
}

.product-header {
  font-family: 'Sora', sans-serif;
}

#product-text {
  font-family: 'Sora', sans-serif;
}