@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "navigation";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

body {
  height: 100vh;
  width: 100%;
  background: url(/src/images/background-boomerang.png);
  background-position: center center;
  background-size: cover;
}

.sale {
  color: rgb(253, 10, 10);
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.651);
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  @include m.md {
    padding-top: 70px;
    font-size: 3rem;
  }
}

.white-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 1000px;
  width: 80%;
  transform: translateX(12%);
  background-color: white;
  @include m.sm {
    max-height: 1200px;
    transform: translateX(12%);
  }
  @include m.md {
    min-height: 1200px;
    transform: translateY(2.7%) translateX(12%);
  }
  @include m.lg {
    min-height: 2500px;
     transform: translateX(12%);
  }
  .carousel-feature {
    position: absolute;
    width: 70%;
    top: 2%;
    @include m.sm {
    }
    @include m.sm {
    }
    @include m.lg {
    }
    .carousel-control-prev {
      left: -60px;
    }
    .carousel-control-next {
      right: -60px;
    }
    .main-text {
      top: 20%;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      @include m.sm {
        font-size: 12px;
      }
      @include m.md {
        padding-top: 2%;
        font-size: 20px;
      }
      @include m.lg {
        padding-top: 6%;
        font-size: 30px;
      }
    }
  }
  .text-box1 {
    padding-top: 12%;
    &__description {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 15px;
      @include m.md {
        font-size: 20px;
      }
      @include m.lg {
        font-size: 20px;
      }
    }
    .main-img {
      padding-right: 1%;
      float: left;
      max-width: 40%;
      @include m.md {
        padding-right: 3%;
      }
      @include m.lg {
        padding-right: 3%;
      }
    }
    p {
      a {
        color: #fdb6fd;
      }
      a:link {
        color: rgb(206, 206, 206);
      }
      a:hover {
        color: rgb(241, 239, 234);
      }
      a:visited {
        background-color: rgb(255, 255, 255);
      }
      @include m.lg {
        letter-spacing: 1px;
      }
    }
  
  }
}

.text-box2 {
  padding-top: 8%;
  @include m.md {
    padding-top: 15%;
  }
  @include m.lg {
    padding-top: 25%;
  }
  &__description {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    @include m.md {
      font-size: 20px;
    }
    @include m.lg {
      font-size: 20px;
    }
  }
  .main-img2 {
    padding-right: 1%;
    float: right;
    max-width: 50%;
    @include m.md {
      padding-left: 3%;
    }
    @include m.lg {
      max-width: 40%;
      padding-left: 3%;
    }
  }
  p {
    a  {
      color: #fdb6fd;
    }
    a:link {
      color: #fdb6fd;
    }
    a:hover {
      color: rgb(241, 239, 234);
    }
    a:visited {
      background-color: rgb(255, 255, 255);
    }
    @include m.lg {
      padding-top: 3%;
      letter-spacing: 1px
    }
  }
}

 .text-choice {
    padding-top: 18%;
    font-size: 15px;
    text-align: center;
    @include m.sm {
      padding-top: 5%;
      font-size: 15px;
    }
    @include m.sm {
      font-size: 18px;
    }
    @include m.lg {
      font-size: 30px;
    }
  }
  .img-section {
    justify-content: center;
    align-items: center;
    display: flex;
    img {
      width: 15%;
    }
  }