@use "variables" as v;
@use "mixins" as m;
@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

header {
  height: 90px;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 4px solid #fdb6fd;
@include m.md {
  height: 102px;
}
@include m.lg {
  height: 240px;
}
  img {
    transform: translateX(-70px);
    width: 140px;
    @include m.sm {
      transform: translateX(1px);
      width: 140px;
      padding-bottom: 40px;
      
    }
    @include m.md {
      transform: translateY(2px);
      width: 140px;
      padding-bottom: 40px;
    }
    @include m.lg {
      padding-bottom: 40px;
      transform: translateY(20px);
      width: 250px;
    }
  }
}

  .cart {
    display: inline;
      position: relative;
      font-size: 18px;
      color:#646464;
      padding-right: 20px;
      left: 30px;
      top: 3px;
    @include m.sm {
      font-size: 18px;
      padding-right: 20px;
      display: block;
      left: 35%;
      top: -95px;
    }
    @include m.md {
      font-size: 22px;
      display: block;
      padding-right: 20px;
      left: 40%;
      top: -92px;
    }
    @include m.lg {
      font-size: 22px;
      display: block;
      padding-right: 20px;
      left: 34%;
      top: -110px;
    }
    a:link {
      color: #646464;
    }
    a:visited {
      color: #646464;
    }
     &__counter {
      display: none;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: red;
      position: relative;
      font-weight: 600;
      font-size: 14px;
      color: rgb(255, 255, 255);
      @include m.sm {
        display: none;
        font-size: 12px;
        transform: translateX(20px) translateY(-1px);
      }
      @include m.md {
        display: inline-block;
        font-size: 16px;
        transform: translateX(48px) translateY(-16px);
      }
      @include m.lg {
        display: inline-block;
        transform: translateX(48px) translateY(-16px);
      }
    }
  }

  .cart-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 17px;
    display: none;
    transform: translateX(10px);
    @include m.md {
      display: block;
    }
  }


  //Mobile

  body {
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
	color: #232323;
	transition: color 0.3s ease;
}

a:link {
  color: black;
}
a:active {
  color: black;
}

a:visited {
    color: black;
}
a:hover {
  color: grey;
}


#menuToggle {
	display: block;
	position: absolute;
	top: 35px;
	right: 25px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
  @include m.md {
    display: none;
  }
  @include m.lg {
    display: none;
  }
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #b9b8b8;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    line-height: 70px;
    border-bottom: 4px solid #fdb6fd;
    width: 240px;
    margin: 28px 0 0 0;
    padding: -5px;
    padding-top: 25px;
    right: -25px;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 2px 0;
	font-size: 15px;
  font-weight:500;
  border-bottom: 0.5px solid rgb(197, 197, 197);
  a:link {
    color: black;
  }
}

#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

//Desktop
.desktop {
  display: none;
  @include m.md {
      display: block;
      transform: translateY(-120%);
  }
  @include m.lg {
    display: block;
    transform: translateY(-48%);
  }
  &__list {
    transform: translateY(-38px);
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    line-height: -1;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 40px;
      background-color: rgb(255, 255, 255);
      @include m.md {
        transform: translateY(-51px);
        border-bottom: 3px solid #fdb6fd;
      }
      @include m.lg {
        border-bottom: 3px solid #ffffff;
        padding-top: 15px;
        transform: translateY(-74px);
      }
      }
}

