@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "navigation";
 @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

 body { 
  min-height: 100vh;
  width: 100%;
  background: url(/src/images/background-boomerang.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-nav {
  display: none;
  @include m.md {
    display: block;
    width: 100%;
    height: 20%;
    background-color: #fdb6fd;
    transform: translateY(98px);
  }
  @include m.lg {
    display: block;
    width: 100%;
    height: 18%;
    background-color: #fdb6fd;
    transform: translateY(145px);
  }
}
