@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "navigation";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

body {
  min-height: 100vh;
  width: 100%;
  background-color: orange;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-nav {
  display: none;
  @include m.md {
    display: block;
    width: 100%;
    height: 20%;
    background-color: #fdb6fd;
    transform: translateY(98px);
  }
  @include m.lg {
    display: block;
    width: 100%;
    height: 18%;
    background-color: #fdb6fd;
    transform: translateY(145px);
  }
}

.shop {
  position: absolute;
  transform: translateY(5%);
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 223px);
  gap: 5%;
  @include m.sm {
    gap: 7%;
    grid-template-columns: repeat(2, 223px);
  }
  @include m.md {
    gap: 2%;
    grid-template-columns: repeat(3, 30%);
  }
  @include m.lg {
    grid-template-columns: repeat(4, 15%);
  }
}

.shop > div > h3 {
  font-size: 20px;
  text-align: center;
}

.shop > div > h2 {
  font-size: 20px;
  text-align: center;
}

.product-card {
  height: 100%;
}

.productImg {
  width: 100%;
  padding: 4%;
  @include m.sm {
    padding: 4%;
    min-width: 90%;
  }
  @include m.md {
    padding: 8%;
    min-width: 100%;
  }
  @include m.lg {
    padding: 9%;
    min-width: 50%;
  }
}

.colorChoice {
  text-align: center;
}

.colors {
  margin: 5px;
  border: 1.5px solid black;
  border-radius: 50%;
  /*   transform: translateX(50%);
  justify-content: center; */
  width: 20px;
  height: 20px;
}

.viewBtn {
  display: none;
}

.modalBg {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 50%;
  border: 2px double grey;
  transform: translateY(25%);
  @include m.sm {
    border: 2px double grey;
    transform: translateY(15%);
  }
  @include m.md {
    border: 2px double grey;
    transform: translateY(15%) translateX(12%);
    height: 70%;
    width: 80%;
  }
  @include m.lg {
    border: 2px double grey;
    transform: translateY(4%) translateX(32%);
    height: 70%;
    width: 62%;
  }
}

.modalImg {
  max-width: 50%;
  transform: translateY(6%);
  @include m.sm {
    max-width: 45%;
    transform: translateX(5%) translateY(5%);
  }
  @include m.md {
    max-width: 60%;
    transform: translateX(5%) translateY(5%);
  }
  @include m.lg {
    width: 55%;
    transform: translateY(6%);
  }
}

.header {
  display: inline;
  position: absolute;
  font-size: 5px;
  left: 62%;
  top: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  @include m.sm {
    left: 62%;
    top: 5%;
    font-size: 2rem;
  }
  @include m.md {
    top: 50px;
    left: 67%;
    font-size: 2rem;
  }
  @include m.lg {
    top: 50px;
    left: 66%;
    font-size: 2rem;
  }
}

.descContainer {
  position: absolute;
  left: 55%;
  bottom: 5%;
  max-width: 40%;
  height: 50%;
  font-size: 14px;
  @include m.sm {
    left: 55%;
    bottom: 4%;
    max-width: 40%;
    height: 45%;
  }
  @include m.md {
    font-size: 15px;
    left: 65%;
    bottom: 5%;
    max-width: 32%;
    min-height: 50%;
  }
  @include m.lg {
    font-size: 20px;
    left: 58%;
    bottom: 5%;
    max-width: 40%;
    min-height: 50%;
  }
}

.addToCart {
  position: absolute;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  width: 30%;
  height: 8%;
  transform: translateX(40%) translateY(150px);
  @include m.sm {
    font-size: 15px;
    transform: translateX(45%) translateY(170px);
  }
  @include m.md {
    font-size: 18px;
    transform: translateX(20%) translateY(220px);
  }
  @include m.lg {
    font-size: 20px;
    transform: translateX(30%) translateY(300px);
  }
}

.c {
  position: absolute;
  right: 2%;
  font-size: x-large;
  top: 0%;
}
