@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "navigation";
 @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100&display=swap");

 body { 
  min-height: 100vh;
  width: 100%;
  background-color: orange;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-nav {
  display: none;
  @include m.md {
    display: block;
    width: 100%;
    height: 20%;
    background-color: #fdb6fd;
    transform: translateY(98px);
  }
  @include m.lg {
    display: block;
    width: 100%;
    height: 18%;
    background-color: #fdb6fd;
    transform: translateY(145px);
  }
}

.shop {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 223px);
  gap: 5%;
  @include m.sm {
    gap: 7%;
    grid-template-columns: repeat(2, 223px);
  }
  @include m.md {
    gap: 2%;
    grid-template-columns: repeat(3, 223px);
  }
  @include m.lg {
    gap: 2%;
  grid-template-columns: repeat(4, 223px);
  }
}

.shop > div > h3 {
font-size: 20px;
text-align: center;
}

.shop > div > h2 {
  font-size: 20px;
  text-align: center;
  }

.shoplist {

}

.productImg {
  max-width: 130%;
  @include m.sm {
    padding: 15%;
    min-width: 90%;
  }
  @include m.md {
  padding: 30%;
  width: 150%;
  }
  @include m.lg {
  padding: 30%;
  width: 150%;
  }
}

/* .colorChoice {
  display: flex;
  justify-content: center;
  background-color: orange;
  width: 50%;
  height: 15px;
} */

.colors {
  border: 1.5px solid black;
  border-radius: 50%;
  transform: translateX(50%);
  justify-content: center;
  width: 9%;
  height: 5%;
}

.viewBtn {
  display: none;
}

.modalBg {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 50%;
  border: 2px double grey;
  transform: translateY(25%);
  @include m.sm {
    background-color: rgb(105, 25, 211);
    border: 2px double grey;
transform: translateY(15%);
  }
  @include m.md {
    background-color: rgb(8, 252, 179);
    border: 2px double grey;
    transform: translateY(15%) translateX(12%);
    height: 70%;
    width: 80%;
  }
  @include m.lg {
    background-color: orange;
    border: 2px double grey;
    transform: translateY(7%) translateX(15%);
    height: 70%;
    width: 80%;
  }
}

.modalImg {
  max-width: 50%;
  transform: translateX(5%) translateY(5%);
}

.header {
  position: absolute;
  font-size: 20px;
  left: 62%;
  top: 5%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 2rem;
}

.descContainer {
  position: fixed;
  left: 800px;
  bottom: 200px;
  background-color: #fdb6fd;
  width: 200px;
  height: 300px;
}